<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOO</title>
  </head>

  <body>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'history' %}">Most Recent</a>
    {% block body_block %}
    {% if result %}
    <pre>{{ result }}</pre>
    {% endif %}
    <form action="" method='post'>
      {% csrf_token %}
      {{form.as_p}}
      <br />
      <br />
      <input type="submit" value='Submit'>
    </form>
    {% endblock %}
  </body>

</html>