<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>MOO</title>
  </head>

  <body>
    <div class="container">
      <nav class="nav nav-pills nav-justified alert-dark">
        <a href="{% url 'homepage' %}" class="nav-item nav-link btn-outline-dark">Home</a>
        <a href="{% url 'history' %}" class="nav-item nav-link btn-outline-dark">Most Recent</a>
      </nav>
      {% block body_block %}
      <h1 class='text-center my-3'>Cowsay</h1>
      <p class="lead text-muted">'cowsay' is a program that generates ASCII pictures of a cow with a message. It
        can also generate pictures using pre-made images of other animals, such as Tux the Penguin, the Linux mascot.
        It is written in Perl. </p>
      <form action="" method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class='btn-primary' value='Submit'>
      </form>
      {% if result %}
      <pre>{{ result }}</pre>
      {% endif %}
      {% endblock %}
    </div>
  </body>

</html>